/* This css file has been initialy taken on crunshbang linux website */
/* color = color of the left, right and bottom (headers only) frames text */
/* background = color of the page under the bottom frame */
body {
  font-size: 62.5%; /* Resets 1em to 10px */
  font-family: sans-serif;
  background: #ffffff;
  color: #333333;
}

#content, #first-row-right, #footer{
  font-size: 1.2em
}

/* alternatives explanations */
.alt {
  border-top: 1px solid #f3f3f3; /* Light grey */
}

small {
  font-family: sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.6em;
}

h2.pagetitle {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

/* color of the News title */
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
  color: #bb0000; /* Black */
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #first-row-right h2, cite {
  text-decoration: none;
}

acronym, abbr, span.caps
{
  font-size: 0.9em;
  letter-spacing: .07em;
}

a {
  /* color of the non-header text of the bottom frame */
  color: #555555; /* Medium grey */
  text-decoration: none;
}

/* ??? */
a:hover  {
  color: #bb0000;
  text-decoration: underline;
}

/* Begin Structure */
body {
  margin: 0 0 0 0;
}

/* whole page */
#page {
  background-color: #ffffff; 
  width: 100%;
  text-align: left;
}

#menu {
  float:left; 
  background:#d3d3d3; /* Light grey */
  padding:0.5% 0px 0px 0.5%;
  height:99%;
  width:12%;
  /*line-height:1.4em;*/
  font-size: 1.25em;
  margin:0 0 0 0;
}

.menu-inside {
  /* background:#ffffff; Light grey */
/*  padding:0.5% 0.5% 0.5% 0.5%;*/
  margin:0 0 0 0;
}

.menu-td {
  text-align:left;
  padding-left:2%;
  margin-left:0%;
  margin-top:0px;
  margin-bottom:15px;
  margin-right:0%;
  line-height:1.5em;
}

#menu-head {
  margin-bottom:5px;
  font-weight:bold;
}

#div-logo {
  float:left;
  margin-bottom:15px;
}

#img-logo {
  /*height: 119px;*/
  width:95%;
}

#content {
  float:left; 
  /* background:#d3d3d3;
  padding:5px 10px 0px 40px;
  line-height:1.4em;*/
  width:87.4999%;
  margin:0px 0px 0px 0px;
}


#first-row {
  background:#d3d3d3; /* Light grey */
  padding:5px 10px 0px 1px;
  /*line-height:1.4em;*/
  font-size: 1.85em;
  height:215px;
}

#title {
  float:left; 
  padding-left:10px;
}

/* news */
#news-frame {
  float:right;
  margin:5px 0px 0px 0px;
  /*width:410px;*/
  /*width:45%;*/
  background:#ffffff;
  padding:none;
  border:none;
  font-size:0.5em;
}

#news-frame h2.newstitle {
  color: #bb0000;
  font-family: sans-serif;
  font-size: 1.3em;
  padding-bottom: 7px;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-top:2px;
  margin-top:5px;
  border-top:5px;
}

.news {
  height:190px;
  background:#ffffff; /* White */
  padding:2px 5px 5px 5px;
  border:2px solid #d3d3d3; /* Medium grey */
  line-height:1.4em;
  margin:0 0 0 0;
  color:#555555; /* Dark grey */
}

.news p {
  font-size: 1.0em;
  padding:2 3 3 3;
  margin:2 3 3 3;
}

.news a, .news a:visited {
  color:#bb0000;
}

.news a.news-brighter, .news a:visited.news-brighter {
  color:#d3d3d3; /* Medium green */
  text-decoration:underline;
}

/* background = color of the border of the left frame */
#div-overview {
  float:left;
  width:48%;
  background:#ffffff;
  font-size: 1.85em;
  padding:1% 1% 1% 1%;
  /*margin: 0.5% 0.5% 0.5% 0.5%;*/
}

#img-overview {
  background:#ffffff;
  width:100%;
}

/* background = color of the border of the right frame */
#last-news-description {
  float:left;
  width:47.999%; /* ie seems stupid with 50% div goes to the next line */
  background:#ffffff;
  font-size: 1.05em;
  padding:1% 1% 1% 1%;
  /*margin: 0.5% 0.5% 0.5% 0.5%;*/
}

a.ext-link {
  background: url(extlink.gif) left center no-repeat;
  padding-left: 16px;
}


.title {
  color:#333333; /* Black */
}

h1 {
  margin: 0;
}

h2 {
  margin: 30px 0 0;
}

h2.pagetitle {
  margin-top: 30px;
}

h3 {
  padding: 0;
  margin: 30px 0 0;
}

a img {
  border: none;
}

